# === OS ===
.DS_Store
Thumbs.db

# === IDE ===
.vscode/
.idea/
*.swp

# === Python ===
__pycache__/
*.py[cod]
.venv/
venv/
env/
*.egg-info/
.pytest_cache/

# === Environment ===
.env
.env.*

# === Logs ===
*.log
logs/

# === Data & Model ===
data/raw/
*.pkl
*.h5
*.pt